In [ ]:
#파이썬에서 주석다는 방법(코드가 아닌 부분)
#run(실행): shift+enter

mark down 영역(+m)
마크 다운= 필기



### Heading3
:샵을 눌러 가능.제목!

## Heading 2

- 리스트 가능(-하고 한칸 뛰기)
- 1
- 2

## 프로그래밍이란?
-programming: 프로그래밍 언어를 사용하여 프로그램을 개발하는 것

-program:일련의 작업을 자동화 하는 것

-python: 프로그래밍 언어 중 하나, 인간이 컴퓨터에게 작업을 명령하기 위해 사용하는 컴퓨터가 이해할 수 있는 언어

## Ch2.Data: Types, Values, Variables, and Names

In [5]:
a = 2
#대입

-markdown=m+

-변수 ㅣ variable(i.e.a): 특정 값을 저장하는 공간

-값 ㅣ value:2

-자료형 ㅣ type:2가 어떤 타입인가?

-할당하다 ㅣ assign:2를 a에 넣는 과정
    -a가 2다
    ->a==2(equal)

In [6]:
a

2

In [7]:
a==2
#부울변수

True

## 변수의 타입
- boolean(불리언: True, False)-bool
: 진리값, 거지값 등에 사용되며 반복문에서도 많이 사용됨.(조건으로!)
ex:if True~~~

- integer(정수: 1, 2, ...)-int
나눗셈 시 내림이 되는 것에 주의 
3/2=1

- floating point number(부동 소수점: 1.0, 2.0, 0.45)-float

- string(문자열: ""안에 써야함)-str
: 입력값(input)도 항상 다른 조건이 없다면 str로 인식되는 것에 유의하기.


*피피티에 언급된 사항: 위의 변수 타입들은 불변형이다. 가변형에는 리스트, 딕셔너리 등등이 있다.

가변=mutable-불변=immutable 이라고 한다.

In [6]:
num=4

In [7]:
print(num)

4

In [8]:
type(num)

int

In [9]:
type(1.0)

float

In [10]:
type(a==2)

bool

In [11]:
name='my name'
print(name)

my name

In [12]:
type(name)

str

In [8]:
#single quote 안에 single quite 를 문자로 인식
#I'm Sam

#1.\사용
print('I\'m Sam')
#문장이 길어지면 따옴표 사용이 잦아질 수 있기 때문에 이 방법 추천


#2 ""사용
print("I'm Sam")
#다른 따옴표를 사용하면 상관 없다.

I'm Sam
I'm Sam

## 변수명 정하기
- 소문자, 대문자, 숫자, 언더바(_) 사용한다.
    -예: 'name', 'my_name'
    -불가능한 예:'my-name', '3name'

언더바 사용= 띄어쓰기는 인식 안하기 때문. 경우에 따라 소문자, 대문자를 별개로 구분해두는 경우도 많음.(클래스명/ 변수명)

++변수명 정하기의 두가지 유형(Gayeong Lee를 예시로)

1. 스네이크 케이스
띄어쓰기를 언더바로 구분하여 적기
Gayeong_lee

2. 캐멀 케이스
단어의 첫글자를 대문자로 구분
GayeongLee



- 변수명으로 사용할 수 없는 케이스
    
    1.숫자로 시작할 수 없다
    
    2.예약어는 사용할 수 없다.

In [9]:
help("keywords")
#예약어들로 변수명으로 설정할 수 없다.

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [14]:
name='Lee'
name

'Lee'

In [18]:
3name=kim
#변수명 맨앞에 숫자는 올 수 없다

SyntaxError: invalid syntax (<ipython-input-18-5c576382abd6>, line 1)

In [17]:
def="Hwang"
#예약어는 변수명으로 사용할 수 없다

SyntaxError: invalid syntax (<ipython-input-17-8a19c9435f8e>, line 1)

-주의할 점(특별한 용도가 있기 때문에 일반적으로 사용하지 않는 변수명 타입)

1.언더바로 시작하는 변수명
    
    예:_name
    

2. 언더바가 2개 있는 변수명

    예:__name__


3.대문자로 시작하는 변수명

    예:Car
    
4.전체가 대문자인 변수명

    예:CAR

In [19]:
#number != Number
word1='number'
word2='Number'

In [20]:
word1==word2
#대소문자를 구분한다

False

In [21]:
word1 != word2

True

### 할당하기

- 수학에서는 =가 양변이 같음을 의미하는데, 프로그램에서는 할당을 의미한다.
    예: name='lee'
    -lee라는 값을 name에 넣는 것.
    
- 오른쪽에 있는 모든 것은 값을 가져야한다.("초기화")
: 결과를 항상 왼쪽에. 방향에 유의

Univ='HUFS'는 되지만
'HUFS'=univ 식으로 할당은 불가능함!


-한번에 여러 변수도 할당이 가능하다

In [22]:
car = 'hyundai'

In [11]:
two=dois=dos=2
print(dos)

2

In [25]:
kia = 'kia'
#초기화
truck = kia

In [10]:
#y= x+10
#x가 초기화 되지 않아 오류가 난다.

x=2
y=2
y=x+10
print(x,y)

2 12

In [28]:
type(car) #str

str

In [29]:
#str car ='kia'
car='kia'

In [31]:
car

'kia'

연습문제
99를 prince에 할당하기

In [12]:
prince=99
prince

99

연습문제 2.4 5+2.0의 타입은?

In [15]:
ans= 5+2.0
type(ans)

float

정수+실수면 자연수로 떨어져도 실수 타입이 된다는 것을 알 수 있다.